<div class="dashboard-container">
    <header class="dashboard-header">
        <h1>Panel de Administración - NariTrade</h1>
        <button (click)="logout()" class="logout-btn">Cerrar sesión</button>
    </header>

    <section class="products-section">
        <h2>Todos los productos</h2>
        <div *ngIf="isLoading">Cargando productos...</div>

        <div *ngIf="productos && productos.length > 0; else sinProductos" class="products-grid">
            <div *ngFor="let producto of productos" class="product-card">
                <img *ngIf="producto.img?.length > 0" [src]="producto.img[0]" alt="Imagen" class="product-image" />
                <div class="product-details">
                    <h3>{{ producto.titulo }}</h3>
                    <p>{{ producto.descri }}</p>
                    <p><strong>Categoría:</strong> {{ producto.categoria }}</p>
                    <p><strong>Estado:</strong> {{ producto.estado }}</p>
                    <button (click)="cambiarEstado(producto._id, producto.estado)" class="btn-block">
  {{ producto.estado === 'Publicado' ? 'Bloquear' : 'Desbloquear' }}
</button>

                </div>
            </div>
        </div>

        <ng-template #sinProductos>
            <p>No hay productos para mostrar.</p>
        </ng-template>
    </section>
</div>